* {
    margin: 0;
    padding: 0;
}


html {
    font-size: 10px;
}

iframe {
    min-width: 375px;
    width: 100%;
    height: 4.9rem;
}

iframe:nth-of-type(2) {
    min-width: 375px;
    width: 100%;
    height: 14.1rem;
}

/* 版心 */
.index3 {
    min-width: 375px;
    width: 100%;
    height: 78.0rem;
    background-color: aquamarine;
    overflow: hidden;
    margin-top: -0.31rem;
}

.index3>.index4 {
    width: 100%;
    height: 3.5rem;
    background-color: rgb(255, 255, 255);
    border-bottom: .1rem solid #d7d5d5;

}

.index3>.index4>.tiao {
    width: 90%;
    height: 3.5rem;
    background-color: #ffffff;
    margin: 0 auto;
    list-style: none;
    display: flex;
}

.index3>.index4>.tiao>li {
    line-height: 3.5rem;
    /* margin-left: 1rem; */
    padding: 0 .4rem;
    font-size: 1.3rem;
}

.index3>.index4>.tiao>li>a {
    text-decoration: none;
    color: black;
}

.index3>.index4>.tiao>li:nth-of-type(1) {
    font-size: 1.5rem;
    font-weight: 600;
    color: black;
}

/*  图片 */

.index5 {
    width: 100%;
    height: 75rem;
    background-color: #F5F5F5;
    overflow: hidden;
}

.index5>.hui {
    width: 100%;
    height: 18rem;
    background-color: #F5F5F5;
    overflow: hidden;
}

.index5>.hui>ul {

    width: 90%;
    height: 15.3rem;
    /* background-color: blueviolet; */
    border-bottom: .1rem solid #FF8A00;
    list-style: none;
    margin: 2rem auto;
    display: flex;
}

.index5>.hui>ul>li {
    width: 11rem;
    height: 75%;
    /* background-color: aquamarine; */
    margin: 1rem.1rem;
}

.index5>.hui>ul>li:nth-of-type(1) {
    width: 30%;
}

.index5>.hui>ul>li:nth-of-type(1) img {
    width: 100%;
    height: 100%;
}

.index5>.hui>ul>li:nth-of-type(2) h2 {
    margin-left: 1rem;
    font-size: 1.6rem;
}

.index5>.hui>ul>li:nth-of-type(2) p {
    font-size: 1.5rem;
    line-height: 3.2rem;
    margin-left: 1rem;
}

.index5>.hui>ul>li:nth-of-type(3) p {
    font-size: 1.7rem;
    font-weight: 600;
    margin-top: 6rem;
    color: #FF8A00;
}